@model IEnumerable<MvcBlogAdmin.Models.Category>
@{
    ViewData["Title"] = "Category";
}
<button type="button" onclick="CategoryModal.show()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CategoryModal">Kategori Ekle</button>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model)
      {
          <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td><a type="button" class="btn btn-danger" asp-route-id=@item.Id asp-action="DeleteCategory">Sil</a>
            <button class="btn btn-secondary" onclick="UpdateForm(@item.Id)">Düzenle</button</td>
          </tr>
      }
  </tbody>
</table>


<div class="modal" id="CategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kategori Yönetimi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/Log/AddCategory" autocopmlete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="Id" id="Id" class="form-control"></input>
                        <input type="text" name="Name" id="Name" class="form-control"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="ClearForm()" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary" id="saveBtn">Ekle</button>
                    <button type="submit" class="btn btn-primary" id="updateBtn">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(()=>ClearForm())
        function UpdateForm(Id){
            fetch('/Log/CategoryDetails?Id='+Id)
            .then(res => res.json())
            .then(res =>{
                $('#Id').val(res.id)
                $('#Name').val(res.name)
            })
            $('#saveBtn').hide();
            $('#updateBtn').show();
            $('#CategoryModal').modal('show');
        }
        function ClearForm(){
            $('#Id').val(null)
            $('#Name').val(null)
            $('#saveBtn').show();
            $('#updateBtn').hide();
        }
    </script>
}