@model IEnumerable<MvcBlogAdmin.Models.Blog>
@{
    ViewData["Title"] = "Author";
}

<a type="button" class="btn btn-primary" href="/Blog/Blog">Blog Ekle</a>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model)
      {
          <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Title</td>
            <td>
                    @if (item.IsPublish)
                    {
                        <a type="button" class="btn btn-success">Yayınlandı</a>
                    }
                    else{
                        <a type="button" class="btn btn-primary" asp-route-id=@item.Id asp-action="Publish">Yayınla</a>
                    }
            </td>
          </tr>
      }
  </tbody>
</table>